---
layout: default
title: James Phillips
---
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbar">
    <div class="container">
        <a class="navbar-brand hidden" href="#">James Phillips</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#PreviousWork">Previous Work</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="header">
    <div class="header-text">
        <h1>James Phillips</h1>
        <h2>Lighting & Production</h2>
    </div>
</div>
<div class="container pt-1" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px">
    <div class="row pt-5" id="About">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <img src="assets/images/james.jpg" class="mx-auto d-block rounded-circle" alt="img"
                    style="height: 20vh; max-width: 216px;">
            </div>
            <div class="col-lg-9 align-self-center">
                <p>
                    James provides technical services across a wide range of Live Events, TV and Corporate,
                    specialising in Lighting Console Operation, Design and Production Management. 
                    He employs a friendly and pragmatic approach to technical challenges with exceptional attention 
                    to detail and utmost professionalism.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-3 align-self-center">
                <h2 class="text-center">Design & Pre-Visualisation</h2>
            </div>
            <div class="col-md-3 align-self-center">
                <h2 class="text-center">Programming & Operation</h2>
            </div>
            <div class="col-md-3 align-self-center">
                <h2 class="text-center">Lighting Data & Systems</h2>
            </div>
            <div class="col-md-3 align-self-center">
                <h2 class="text-center">Production Management</h2>
            </div>
        </div>
    </div>

    <div class="row pt-5 justify-content-md-center" id="Contact">
        <div class="col-md-4 text-center">
            <h1><i class="bi bi-telephone-fill"></i></h1>
            <p><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-light"
                    href="tel:+4407429353608">+44 07429 353 608</a></p>
        </div>
        <div class="col-md-4 text-center">
            <h1><i class="bi bi-envelope-fill"></i></h1>
            <p><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-light"
                    href="mailto:james@jamesphillips.me.uk">james@jamesphillips.me.uk</a></p>
        </div>
    </div>

    <div class="row pt-5" id="PreviousWork">
        <div class="col-lg-12">
            <h1>Previous Work</h1>
        </div>
        {% for entry in site.data.previouswork %}
        <div class="col-lg-4 p-2">
            <div class="portfolio-entry">
                <img src="{{entry.thumb}}" class="img-fluid">
                <div class="portfolio-overlay">
                    <div class="portfolio-content">
                        <h1>
                            {{entry.name}}
                        </h1>
                        <p class="m-1 fs-5 fw-normal">
                            {{entry.role}}
                        </p>
                        <p class="m-2">
                            {{entry.client}}
                        </p>
                        {% comment %} <a href="#" class="btn btn-outline-light">More Info</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<footer class="d-flex flex-wrap justify-content-between pt-3 border-top">
    <p class="col-md-4 mx-3 text-body-secondary">© James Phillips</p>

    <ul class="list-unstyled col-md-4 px-2 justify-content-end" style="font-size: 0.7em;">
        <li>Photo Credit</li>
        {% for entry in site.data.previouswork %}
            {% if entry.photo_credit %}
                <li>{{entry.name}}: {{entry.photo_credit}}</li>
            {% endif %}
        {% endfor %}
    </ul>
</footer>

<script>
    /**
     * Listen to scroll to change header opacity class
     */
    function checkScroll() {
        var navbarThreshold = $('.navbar').height() * 4; //The point where the navbar changes in px

        if ($(window).scrollTop() > navbarThreshold) {
            $('.navbar').addClass("bg-dark");

        } else {
            $('.navbar').removeClass("bg-dark");
        }
    }

    if ($('.navbar').length > 0) {
        $(window).on("scroll load resize", function () {
            checkScroll();
        });
    }
</script>